@import "defaults";

.character-roster-messages {
  width: 100%;
  min-height: 120px;
  background: $tavern-parchment;
  border-bottom: 8px ridge $tavern-brown;
  color: $tavern-black;
  &-border {
    border: 2px dashed $tavern-black;
    border-radius: 16px;
    margin: 18px 25%;
  }
  span {
    width: 100%;
    text-align: center;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  margin-right: -4px;
  background: url("/img/cancel.png") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.search-messages {
  background: url("/img/parchment-horizontal.png") no-repeat;
  border: none;
  background-size: 100% 100%;
  width: 300px;
  height: 200px;
}

.character-list {
  @include media-breakpoint-up(sm) {
    padding: 0 50px;
  }
}

.roster-scroll {
  background: $tavern-parchment;
  @include media-breakpoint-up(sm) {
    background: url("/img/scroll-content.png") no-repeat;
    background-size: cover;
    margin-bottom: -2vh;
  }
  &-ends {
    max-height: 7.5vh;
  }
  &-content {
    padding: 16px 20px;
    @include media-breakpoint-up(sm) {
      padding: 3.5vh 20vw;
    }
  }
  &-container {
    @include media-breakpoint-down(sm) {
      &:first-child {
        border-top: 8px ridge $tavern-brown;
      }
      border-bottom: 8px ridge $tavern-brown;
    }
  }
}

.chain {
  height: 8vh;
}

.roster-header {
  background: $faded-brown;
  h1 {
    color: white;
    text-shadow: $text-shadow-dark-outline;
  }
  a {
    color: white;
  }
  @include media-breakpoint-up(sm) {
    background: url("/img/stucco-tile-dark.png");
    max-width: max(50vw, 500px);
    border: 12px ridge $faded-brown;
  }
}
.search-bar {
  background: $tavern-white;
  border-radius: 10px;
  padding: 4px 8px;
  input {
    background: none;
    border: none;
    padding: 0px 8px;
    &:focus {
      outline: none;
    }
  }
}

.floating-button {
  position: fixed;
  text-align: center;
  border-radius: 50px;
  a,
  button {
    all: unset;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}

.btn-add-character {
  bottom: 6%;
  right: 4%;
  height: 64px;
  width: 64px;
  background: $tavern-red;
  a > img {
    width: 38px;
    margin-left: 8px;
  }
  @include media-breakpoint-up(xl) {
    height: 100px;
    width: 100px;
    a > img {
      width: 60px;
      margin-left: 14px;
    }
  }
}

.btn-scroll-to-top {
  bottom: 6%;
  left: 4%;
  height: 50px;
  width: 50px;
  background: $tavern-black;
  button > img {
    width: 32px;
  }
  @include media-breakpoint-up(xl) {
    height: 80px;
    width: 80px;
    button > img {
      width: 64px;
    }
  }
}

.character-details {
  span {
    padding-right: 16px;
  }
}

.ability-score-box {
  width: 15%;
  max-width: 60px;
  // background: $tavern-white;
  border: 2px solid $tavern-black;
  // border: 2px solid maroon;
  // outline: 2px outset silver;
  border-radius: 5px 5px 25px 25px;
  .ability-score-name {
    border-bottom: 1px solid $tavern-black;
    //   color: whitesmoke;
    //   background: $tavern-red;
    //   text-shadow: $text-shadow-dark-outline;
  }
}

.character-description-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  .character-description-header {
    text-decoration: underline;
  }
  @include media-breakpoint-up(xl) {
    .character-description-text {
      padding-right: 24px;
    }
  }
}

.delete-button,
.edit-button {
  all: unset;
  width: 24px;
  height: 24px;
  @include media-breakpoint-up(sm) {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

.ellipsis {
  width: 18px;
  height: 18px;
}

//xxl
@include media-breakpoint-up(xxl) {
  h2 {
    font-size: 40px;
  }
  h6 {
    font-size: 24px;
  }
  .character-details span {
    font-size: 24px;
  }
  .delete-button,
  .edit-button {
    width: 32px;
    height: 32px;
    img {
      width: 32px;
      height: 32px;
    }
  }
  .ability-score-box {
    width: 20%;
    height: 90px !important;
    max-width: 80px;
    border-radius: 5px 5px 50px 50px;
    p {
      height: 100%;
      align-content: center;
      font-size: 24px;
      padding-bottom: 4px;
    }
    // max-width: 60px;
  }
}
