@import "defaults";

.character-roster-bar {
  height: $nav-height;
  background-color: $tavern-black;
}

.character-list {
  @include media-breakpoint-up(sm) {
    padding: 0 50px;
  }
}

.roster-scroll {
  background: $tavern-parchment;
  @include media-breakpoint-up(sm) {
    background: url("/img/scroll-content.png") no-repeat;
    background-size: cover;
    margin-bottom: -2vh;
  }
  &-ends {
    max-height: 7.5vh;
  }
  &-content {
    padding: 16px 20px;
    @include media-breakpoint-up(sm) {
      padding: 3.5vh 20vw;
    }
  }
  &-container {
    @include media-breakpoint-down(sm) {
      &:first-child {
        border-top: 8px ridge $tavern-brown;
      }
      border-bottom: 8px ridge $tavern-brown;
    }
  }
}

.chain {
  height: 8vh;
}

.roster-header {
  background: $faded-brown;
  h1 {
    color: white;
    text-shadow: $text-shadow-dark-outline;
  }
  a {
    color: white;
  }
  @include media-breakpoint-up(sm) {
    background: url("/img/stucco-tile-dark.png");
    max-width: max(50vw, 500px);
    border: 12px ridge $faded-brown;
  }
}
.search-bar {
  background: $tavern-white;
  border-radius: 10px;
  padding: 4px 8px;
  input {
    background: none;
    border: none;
    padding: 0px 8px;
    &:focus {
      outline: none;
    }
  }
}

.floating-buttons {
  position: fixed;
  bottom: 6%;
  right: 6%;
  text-align: center;
  text-decoration: none;
  a {
    color: white;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  .plus-sign {
    background: $tavern-red;
    color: white;
    font-size: 14px;
    height: 20px;
    width: 20px;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    translate: -100% -25%;
  }
}

.scroll-to-top {
  background: silver;
  border: none;
  border-radius: 25px;
  color: black;
  font-size: 10px;
  opacity: 0.6;
  z-index: 5;
  padding: 8px;
  width: fit-content;
  &:hover {
    opacity: 1;
  }
  img {
    width: 28px;
  }
}

.character-details {
  span {
    padding-right: 16px;
  }
}

.ability-score-box {
  width: 15%;
}

.character-description-box {
  width: 100%;
  // @include media-breakpoint-up(xl) {
  //   width: 50%;
  // }
}

//xl only
@include media-breakpoint-up(xl) {
  .floating-button {
    .plus-sign {
      font-size: 18px;
      height: 28px;
      width: 28px;
    }
    a > img {
      width: 100px;
    }
  }
  .scroll-to-top {
    padding: 16px 8px;
    img {
      width: 32px;
    }
  }
}

.delete-button,
.edit-button {
  all: unset;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
