<div class="d-flex flex-column app-container justify-content-center">
  <div class="banner mb-0ssssssss mb-sm-4">
    <div class="banner-content text-center">
      <h1 class="my-4">The Tavern</h1>
    </div>
  </div>
  <div class="d-flex flex-row flex-wrap justify-content-start justify-content-sm-evenly align-items-center link-boxes my-3 my-sm-5 mx-4
  ">
    <a routerLink="/create-a-character" class="link-box">Create a Character; image is signing parchment</a>
    <a routerLink="/character-roster" class="link-box">Character Roster; image is wanted poster type thing</a>
    <a class="link-box">Coming Soon; image is under construction</a>
  </div>
  <div class="parchment-horizontal my-sm-3">
    <div class="parchment-content">
      <h3>Completed Features</h3>
      <ul class="m-0 ps-3">
        <li>Create a character</li>
        <li>Randomly generate character class, species, background</li>
        <li>
          Ability score generation methods: point buy and standard array; (Note:
          standard array partially implemented, can only randomly assign the
          values)
        </li>
        <li>View character roster</li>
        <li>Edit/Delete character from roster</li>
      </ul>
    </div>
  </div>

  <div class="parchment-horizontal my-sm-3">
    <div class="parchment-content">
      <h3>Known Bugs</h3>
      <ul class="m-0 ps-3">
        <li>
          When editing a character, the point buy generation method does not
          retain the amount of points used
        </li>
        <li>
          bonus radio buttons
          <ul>
            <li>
              stat bonus application and check status not retained when editing
              a character
            </li>
            <li>
              stat bonus application not retained and checked status does not
              get cleared for the following scenarios: randomizing stats,
              changing generation method, clearing all fields
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
