<h2>Updates</h2>
<sub>Latest update: 2/14/25</sub>
<h3>Completed Features</h3>
<ul>
  <li>Create a character</li>
  <li>Randomly generate character class, species, background</li>
  <li>
    Ability score generation methods: point buy and standard array; (Note:
    standard array partially implemented, can only randomly assign the values)
  </li>
  <li>View character roster</li>
  <li>Edit/Delete character from roster</li>
</ul>

<h3>Bugs</h3>
<ul>
  <li>
    When editing a character, the point buy generation method does not retain
    the amount of points used
  </li>
  <li>
    Signature overflow; maybe try to get only the "first name" and "last name"
    or first inital and "Last" initial
  </li>
</ul>
