<div class="d-flex flex-column app-container">
  <div class="banner">
    <div class="banner-content text-center py-3">
      <h2>Updates</h2>
      <sub>Latest update: 2/16/25</sub>
    </div>
  </div>
  <div class="d-flex flex-column flex-sm-row justify-content-evenly">
    <div>link to character creator, image is signing parchment</div>
    <div>link to character roster, image is wanted poster type thing</div>
    <div>link to coming soon, image is under construction</div>
  </div>
  <div class="parchment-horizontal my-sm-3">
    <div class="parchment-content">
      <h3>Completed Features</h3>
      <ul class="m-0 ps-3">
        <li>Create a character</li>
        <li>Randomly generate character class, species, background</li>
        <li>
          Ability score generation methods: point buy and standard array; (Note:
          standard array partially implemented, can only randomly assign the
          values)
        </li>
        <li>View character roster</li>
        <li>Edit/Delete character from roster</li>
      </ul>
    </div>
  </div>

  <div class="parchment-horizontal my-sm-3">
    <div class="parchment-content">
      <h3>Known Bugs</h3>
      <ul class="m-0 ps-3">
        <li>
          When editing a character, the point buy generation method does not
          retain the amount of points used
        </li>
        <li>
          bonus radio buttons
          <ul>
            <li>
              stat bonus application and check status not retained when editing
              a character
            </li>
            <li>
              stat bonus application not retained and checked status does not
              get cleared for the following scenarios: randomizing stats,
              changing generation method, clearing all fields
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
