$tavern-parchment: rgb(172, 152, 115);
$tavern-parchment-lighter: rgb(192, 170, 130);

//red brown palette
$tavern-coral: rgb(221, 90, 60);
$tavern-red: rgb(163, 25, 9);
$tavern-beige: rgb(214, 151, 114);
$tavern-brown: rgb(75, 37, 20);
$tavern-yellow: rgb(235, 149, 36);
$tavern-black: rgb(22, 23, 20);
$tavern-grey: rgb(164, 156, 148);
$tavern-white: rgb(240, 220, 185);

//faded colors
$faded-brown: rgb(75, 51, 43);
$faded-blush: rgb(171, 88, 82);
$faded-sand: rgb(203, 153, 121);
$faded-yellow: rgb(234, 218, 160);
$faded-orange: rgb(214, 158, 73);
$faded-grey: rgb(131, 132, 105);
$faded-slate: rgb(101, 114, 104);
$faded-blue: rgb(71, 96, 102);

//outlines
$text-shadow-dark-outline: 1px 1px 1px $tavern-black, -1px 1px 1px $tavern-black,
  -1px -1px 1px $tavern-black, 1px -1px 1px $tavern-black;
