@import "defaults";
.drawer {
  position: fixed;
  margin-top: 50px;
  top: 0;
  bottom: 0;
  left: 0;
}

.drawer-contents {
  min-width: 160px;
  max-width: fit-content;
  height: calc(100vh - 50px); // display minus navigation height
  background-color: $tavern-black;
  ul {
    max-width: 30vw;
  }
  li {
    padding-top: 24px;
    list-style: none;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: $tavern-white;
      }
    }
  }
}

.darken {
  @include media-breakpoint-down(xl) {
    position: fixed;
    width: 100%;
    z-index: -1;
    height: 100vh;
    right: 0;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
}

.logo {
  width: 30px;
}
