@import "defaults";
.drawer {
  position: absolute;
  top: 50px;
  left: 0;
  //   max-width: 228px;
  //   @include media-breakpoint-down(sm) {
  //     display: none;
  //   }
  &.show > .darken {
    @include media-breakpoint-down(xl) {
      position: fixed;
      width: 100%;
      z-index: -1;
      height: 100vh;
      right: 0;
      top: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    }
  }
}

.drawer-contents {
  min-width: 160px;
  max-width: fit-content;
  height: calc(100vh - 50px); // display minus navigation height
  background-color: $tavern-black;
  ul {
    max-width: 30vw;
  }
  li {
    padding-top: 24px;
    list-style: none;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: $tavern-white;
      }
    }
  }
}

.logo {
  width: 30px;
}
