<div class="text-bg-dark bg-gradient py-5 px-4 px-sm-5 h-100">
  <h1>Road Map</h1>
  <ul>
    <li>
      Dice Roller: Change to text area with text commands (ie. 4d6, 4d6kh1,
      2d20kl, 3d12dh1, 5d4dl1, etc.)
    </li>
    <li>
      Implement "Drag and Drop": For die roll results in character sheet, to
      swap values in character sheet, to re-order characters in roster
    </li>
    <li>
      Monster Maker: Create monsters with descriptors, stats, attacks/abilities,
      etc. (Try to find a resource for CR calculation).
    </li>
    <li>
      Full Character Sheet: Full 5e character sheet with skills, upload image
      for character icon, icons for classes, full class features, spells, etc.
    </li>
    <li>
      Spell Book: Compendium of SRD spells for character sheet, create, edit,
      delete homebrew spells. Damage types, damage rolling.
    </li>
  </ul>
</div>
