<div class="character-sheet-container">
  <div class="character-details">
    <div>character name</div>
    <div>class</div>
    <div>species</div>
    <div>background</div>
  </div>
  <div class="character-stats">
    <!--iterate through a json file for the ability score name and value-->
    <div>Strength</div>
    <div>Dexterity</div>
    <div>Constitution</div>
    <div>Intelligence</div>
    <div>Wisdom</div>
    <div>Charisma</div>
  </div>
  <div class="character-desc">
    <div>personality traits</div>
    <div>ideals</div>
    <div>bonds</div>
    <div>flaws</div>
  </div>
</div>
