<div class="character-sheet-container">
  <form [formGroup]="playerCharacterForm$">
    <section name="character-details" class="character-details">
      <div class="d-flex flex-column character-name">
        <input
          type="text"
          id="characterName"
          name="characterName"
          placeholder="Hero"
          formControlName="characterName"
          #characterName
        />
        <div class="d-flex flex-row">
          <label for="characterName">Character Name </label>
          <button>Randomize</button>
        </div>
      </div>
      <div class="d-flex flex-column character-class">
        <select
          name="characterClass"
          id="characterClass"
          formControlName="characterClass"
        >
          <option
            value="0"
            id="noClass"
            name="noClass"
            label="Select a Class"
            selected
            disabled
            value
          ></option>
          @for (c of defaultClasses$; track $index;){
          <option value="{{ c.characterClassName }}">
            {{ c.characterClassName }}
          </option>
          }
        </select>
        <div class="d-flex flex-row">
          <label for="characterClass">Class</label>
          <button (click)="randomizeField('class')">Randomize</button>
        </div>
      </div>
      <div class="d-flex flex-column character-species">
        <select
          name="characterSpecies"
          id="characterSpecies"
          formControlName="characterSpecies"
        >
          <option
            value="0"
            id="noSpecies"
            name="noSpecies"
            label="Select a Species"
            selected
            disabled
            value
          ></option>
          @for (s of defaultSpecies$; track $index;){
          <option value="{{ s.speciesName }}">
            {{ s.speciesName }}
          </option>
          }
        </select>
        <div class="d-flex flex-row">
          <label for="characterSpecies">Species</label>
          <button (click)="randomizeField('species')">Randomize</button>
        </div>
      </div>
      <div class="d-flex flex-column character-background">
        <select
          name="characterBackground"
          id="characterBackground"
          formControlName="characterBackground"
        >
          <option
            value="0"
            id="noBackground"
            name="noBackground"
            label="Select a Background"
            selected
            disabled
            value
          ></option>
          @for (b of defaultBackgrounds$; track $index;){
          <option value="{{ b.backgroundName }}">
            {{ b.backgroundName }}
          </option>
          }
        </select>
        <div class="d-flex flex-row">
          <label for="characterBackground">Background</label
          ><button (click)="randomizeField('background')">Randomize</button>
        </div>
      </div>
    </section>
    <section
      name="character-stats"
      class="character-stats"
      formGroupName="abilityScores"
    >
      @for (a of abilityScoreLabels; track $index;){

      <div class="ability-score">
        <label for="{{ a[1] }}">{{ a[0] }}</label>
        <!-- <input
          type="tel"
          id="{{ a[1] }}"
          [value]="abilityScoreValues![$index]"
          min="3"
          max="20"
          onkeydown="return false"
        /> -->
        <input
          type="number"
          [id]="a[1][$index]"
          [formControlName]="a[1]"
          [formTarget]="a[1]"
          [value]="abilityScoreValuesWithBonuses![$index]"
          onkeydown="return false"
        />
        @if (abilityScoreGenMethod == 'pointBuy'){
        <button
          (click)="addPoints(plusOneChoice$index, plusTwoChoice$index, $index)"
        >
          +
        </button>
        <button
          (click)="
            subtractPoints(plusOneChoice$index, plusTwoChoice$index, $index)
          "
        >
          -
        </button>
        }
        <div class="radio-ability-score-bonuses">
          <input
            type="radio"
            id="plusTwoChoice{{ $index }}"
            name="plusTwoChoice"
            value="2"
            (change)="
              updateAbilityScores(
                setBonuses($event, plusOneChoice$index, $index)
              )
            "
            #plusTwoChoice$index
          />
          <label>+2</label>
          <input
            type="radio"
            id="plusOneChoice{{ $index }}"
            name="plusOneChoice"
            value="1"
            (change)="
              updateAbilityScores(
                setBonuses($event, plusTwoChoice$index, $index)
              )
            "
            #plusOneChoice$index
          />
          <label>+1</label>
        </div>
      </div>
      }

      <div class="d-flex flex-column">
        <label for="abilityGenMethod">Generation Method</label>
        <select
          name="abilityGenMethod"
          id="abilityGenMethod"
          [value]="abilityScoreGenMethod"
          (change)="setAbilityGenMethod(abiiltyScoreGenMethod.value)"
          #abiiltyScoreGenMethod
        >
          <!--disabled other options until implemented-->
          <option name="pointBuy" id="pointBuy" value="pointBuy">
            Point Buy
          </option>
          <option name="standardArray" id="standardArray" value="standardArray">
            Standard Array
          </option>
          <option name="4d6dl1" id="4d6dl1" value="4d6dl1" disabled>
            4d6 drop lowest
          </option>
          <option name="3d6" id="3d6" value="3d6" disabled>3d6</option>
        </select>
      </div>
      <!--point buy budget-->
      @if (abilityScoreGenMethod == 'pointBuy'){
      <app-point-buy [pointsRemaining]="pointsUsed"></app-point-buy>
      } @if (abilityScoreGenMethod == 'standardArray'){
      <button (click)="randomizeStandardArray()">Randomize Array</button> }
    </section>
    <section
      name="character-description"
      class="character-desc"
      formGroupName="characterDescription"
    >
      <div class="d-flex flex-column">
        <div class="flex-row">
          <label for="personalityTraits">Personailty Traits</label>
          <button>Randomize</button>
        </div>
        <textarea
          name="personalityTraits"
          id="personalityTraits"
          rows="3"
          cols="20"
          formControlName="personalityTraits"
        ></textarea>
      </div>
      <div class="d-flex flex-column">
        <div class="flex-row">
          <label for="ideals">Ideals</label>
          <button>Randomize</button>
        </div>
        <textarea
          name="ideals"
          id="ideals"
          rows="3"
          cols="20"
          formControlName="ideals"
        ></textarea>
      </div>
      <div class="d-flex flex-column">
        <div class="flex-row">
          <label for="bonds">Bonds</label>
          <button>Randomize</button>
        </div>
        <textarea
          name="bonds"
          id="bonds"
          rows="3"
          cols="20"
          formControlName="bonds"
        ></textarea>
      </div>
      <div class="d-flex flex-column">
        <div class="flex-row">
          <label for="flaws">Flaws</label>
          <button>Randomize</button>
        </div>
        <textarea
          name="flaws"
          id="flaws"
          rows="3"
          cols="20"
          formControlName="flaws"
        ></textarea>
      </div>
    </section>
    <button (click)="randomizeAll()">Randomly Generate</button>
    <button>Export as JSON file</button>
    <button>Export as PDF</button>
    @if (isNewCharacter){
    <!--save new character-->
    <button type="submit" (click)="createCharacter(characterName.value)">
      Save (add new)
    </button>
    } @if (!isNewCharacter) {<button
      type="submit"
      (click)="saveEditedCharacter()"
    >
      Save (edit)
    </button>
    }
    <!--clear all fields-->
    <button (click)="clearFields()">Clear</button>
  </form>
</div>
