/* Importing Bootstrap SCSS file. */
@import "bootstrap";
@import "bootstrap/scss/bootstrap";
@import "defaults";

body {
  background: url("/img/wood-tile-vertical.jpg") repeat;

  // background: url("/img/stucco-tile2.jpg") repeat;
}

//min height should be 100vh - nav height
main {
  min-height: 100vh;
}

//Common Character Sheet elements

.banner {
  //hanging banner thingy
  background: url("/img/parchment-tile.jpg");
  background-size: cover;
}

.parchment {
  &-vertical,
  &-horizontal {
    background: url("/img/parchment-tile.jpg");
    background-size: cover;
  }
  @include media-breakpoint-up(sm) {
    &-vertical {
      background: url("/img/parchment-vertical.png") no-repeat;
      background-size: 100% 100%;
      max-width: 1200px;
      max-height: 2000px;
    }
    &-horizontal {
      background: url("/img/parchment-horizontal.png") no-repeat;
      background-size: 100% 100%;
      max-width: 2000px;
      max-height: 1200px;
    }
  }
  &-content {
    padding: min(10vh, 10%) 8vw;
  }
}

.custom-icon {
  width: 24px;
}
